.DS_Store
node_modules
package-lock.json
.turbo
*.log
dist
dist-ssr
*.local
.env
.cache
server/dist
public/dist
.gemini/
.docs/
.services/
.release-artifacts/
.preview/

# IDE - VSCode
.vscode/*

# local prisma scripts
apps/api/prisma/*.sql
apps/api/prisma/**/*.db

# tests/playwright
playwright.config.ts
apps/web/e2e/
apps/web/e2e/**
apps/web/test-results/
apps/api/test/
**/*.spec.ts
**/*.e2e-spec.ts

# dotfiles/config not tracked in repo
.eslintrc.js
apps/api/.gitignore
apps/api/.prettierrc
